{
    "rules": {
        "indent": [2, 2],
        "quotes": [1, "single"],
        "jsx-quotes": [1, "prefer-double"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "comma-dangle": [2, "always-multiline"],
        "no-cond-assign": [2, "always"],
        "no-unexpected-multiline": 2,
        "valid-jsdoc": 1,
        "consistent-return": 2,
        "curly": 2,
        "eqeqeq": 2,
        "no-implicit-coercion": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 1,
        "no-new-wrappers": 1,
        "no-new": 2,
        "no-redeclare": [2, { "builtinGlobals": true }],
        "no-self-compare": 2,
        "no-return-assign": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-useless-call": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": [2, "inside"],
        "yoda": [2, "never"],
        "no-unused-vars": [2, { "vars": "all", "args": "none" }],
        "strict": [2, "global"],
        "array-bracket-spacing": 1,
        "block-spacing": 1,
        "brace-style": [1, "stroustrup"],
        "camelcase": 0,
        "comma-spacing": 1,
        "comma-style": 1,
        "computed-property-spacing": 1,
        "consistent-this": [2, "that"],
        "eol-last": 2,
        "func-names": 1,
        "func-style": [0, "declaration"],
        "key-spacing": 1,
        "new-cap": 0,
        "new-parens": 1,
        "newline-after-var": 1,
        "no-array-constructor": 2,
        "no-lonely-if": 1,
        "no-negated-condition": 1,
        "no-new-object": 2,
        "no-spaced-func": 1,
        "no-trailing-spaces": 1,
        "object-curly-spacing": 1,
        "one-var": [2, "never"],
        "operator-assignment": [1, "always"],
        "operator-linebreak": 2,
        "semi-spacing": 1,
        "space-after-keywords": 1,
        "space-before-blocks": 1,
        "space-before-function-paren": [1, "never"],
        "space-before-keywords": 1,
        "space-infix-ops": 1,
        "space-return-throw-case": 1,
        "space-unary-ops": 1,
        "wrap-regex": 1,
        "arrow-spacing": 1,
        "object-shorthand": 1,
        "prefer-const": 2,
        "react/forbid-prop-types": 1,
        "react/jsx-closing-bracket-location": [1, "after-props"],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-set-state": 0,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/self-closing-comp": 1,
        "react/sort-comp": 2
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
      "chrome": true
    }
}
